.DS_Store

test/
node_modules/
mochawesome-report/
coverage/
test/
build/
docs/
.idea/

.babelrc
.eslintrc.js
mocha-webpack.opts
.eslintrc.js

npm-debug.log*
yarn-debug.log*
yarn-error.log*
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
